.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

main {
  background-color: white;
  border-radius: 20px;
  width: 50%;
  padding: 5px;
  text-align: center;
}

.i1 {
  border-radius: 50%;
  width: 30%;
}

.p1 {
  font-weight: bold;
  font-size: 20px;
}
.sp1 {
  font-weight: lighter;
  color: grey;
}

.p2 {
  font-weight: lighter;
  color: grey;
}

.s1 {
  border-bottom: 2px grey solid;
}

.s2 {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  justify-content: center;
  margin: 10px;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

.light {
  font-size: small;
  color: grey;
}
