.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10%;
  background-image: url(images/bg-pattern-bottom.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 60%;
}

main {
  background-color: white;
  border-radius: 20px;
  width: 350px;
  padding: 5px;
  background-image: url(images/bg-pattern-card.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 110% 40%;
}

.i1 {
  border-radius: 50%;
  border: solid white 2px;
}

.p1 {
  font-weight: bold;
  font-size: 20px;
}
.sp1 {
  font-weight: lighter;
  color: grey;
}

.p2 {
  font-weight: lighter;
  color: grey;
}

figure {
  border-bottom: 2px grey solid;
  margin-top: 20%;
}

.s2 {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  margin: 10px;
  justify-content: center;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

.light {
  font-size: small;
  color: grey;
}
